.light-theme-nav {
  color: #1A0A52;
  background: #79AF8E;
}

.dark-theme-nav {
  color: #94D6AD;
  background: #1A0A52;
}

.flex {
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
nav .light-theme-color ul li a {
  color: #1A0A52;
}
nav .dark-theme-color ul li a {
  color: #94D6AD;
}
nav .name {
  margin-left: 15px;
}
nav .name h1 {
  margin-left: 0;
}
nav .name h2 {
  margin-left: 0;
}
nav .name h3 {
  margin-left: 0;
}
nav .m-l-auto {
  margin-left: auto;
}
nav .m-r-25 {
  margin-right: 20px;
  margin-left: -15px;
}
nav .themeAndLangvish {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
nav .themeAndLangvish .theme {
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
  background: #79AF8E;
}
nav .themeAndLangvish .theme span {
  margin: 5px auto;
  margin-bottom: 100px;
  padding-bottom: 10px;
}
nav .themeAndLangvish .theme svg {
  margin: 3px auto;
}
nav .themeAndLangvish .theme .active-theme {
  background: white;
  border: 1px solid 1A0A52;
  border-radius: 10px;
}
nav .themeAndLangvish .theme .moon {
  padding: 3px;
  color: white;
}
nav .themeAndLangvish .lang {
  color: #1A0A52;
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #79AF8E;
}
nav .themeAndLangvish .lang div {
  display: flex;
  margin-left: 7px;
  margin-top: 7px;
}
nav .themeAndLangvish .lang div .active-leng {
  color: white;
}
nav .themeAndLangvish .lang div p {
  color: #1A0A52;
  border-radius: 15px;
}
nav .themeAndLangvish .lang div p:hover::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #2d27ce;
  position: fixed;
  bottom: -4px;
  left: 20px;
}
nav .themeAndLangvish .lang div span {
  margin: 0 3px;
}
nav .DS {
  display: flex;
  align-items: center;
  text-decoration: none;
}
nav .DS .light-theme-a {
  color: #1A0A52;
}
nav .DS .dark-theme-a {
  color: #94D6AD;
}
nav .DS .name {
  margin-left: 5px;
}
nav .DS:hover {
  color: #2d27ce;
}
nav .DS h1 {
  margin-right: 10px;
}
nav .img_cv {
  height: 40px;
  width: 40px;
}
nav #navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav #navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
nav #navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
nav #navbar li a:hover {
  color: white;
}
nav #navbar li a:hover::after {
  content: "";
  width: 50%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
nav #mobile {
  display: none;
}
nav #mobile .light-theme-a {
  color: #1A0A52;
}
nav #mobile .dark-theme-a {
  color: #94D6AD;
}

@media screen and (max-width: 1300px) {
  nav {
    padding: 15px 10px;
  }
  nav .DS .name h1 {
    padding-left: 0px;
    margin-right: 0px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  nav .DS .name h2 {
    font-size: 16px;
    font-weight: 300;
  }
  nav .DS .name h3 {
    font-size: 14px;
    font-weight: 200;
  }
  nav #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 110px;
    right: -200px;
    width: 200px;
    height: 250px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
  }
  nav #navbar li {
    margin-bottom: 25px;
  }
  nav #navbar.active {
    right: 0px;
  }
  nav #mobile {
    display: flex;
  }
  nav #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}/*# sourceMappingURL=NavBar.css.map */